In [2]:
import pandas as pd
import numpy as np
#volume
#generate a large volume of random data(eg. 1 millon data points)
volume_data = pd.read_csv('/content/drive/MyDrive/project.csv', delimiter=',')
print("volume of data:",len(volume_data))

volume of data: 10000

In [5]:
#velocity
import time
#simulate streaming data every second for 10 seconds
velocity_data = pd.read_csv('/content/drive/MyDrive/project.csv', sep =',')
for i in range(10):
  velocity_data=np.random.rand( )#generate random data
  print("velocity data point:",velocity_data)
  time.sleep(1)#wait for 1 second to simulate real-time data stream

velocity data point: 0.9247683407930373
velocity data point: 0.9462482606381369
velocity data point: 0.7016546886408807
velocity data point: 0.417090082692108
velocity data point: 0.5748346924155898
velocity data point: 0.6984822640177982
velocity data point: 0.9506632399966956
velocity data point: 0.654807841040426
velocity data point: 0.4333234148781058
velocity data point: 0.5079646071733945

In [6]:
#veracity
import pandas as pd
import random
#generate some random data with noise
veracity_data = pd.read_csv('/content/drive/MyDrive/project.csv', sep =',')
veracity_data=[random.choice([1,2,3,None])for _ in range(20)]
print("veracity data:",veracity_data)

veracity data: [3, 3, None, 2, 3, 2, 2, None, 3, None, None, 2, 2, 2, 3, 2, 1, 2, 2, 1]

In [7]:
#variety
structured_data = pd.read_csv('/content/drive/MyDrive/project.csv', sep =',')
#structured data
print('structured_data')
print(structured_data)
#semi-structured data(JSON)
print('semistructured_data')
semistructured_data = pd.read_csv('/content/drive/MyDrive/project.csv', sep =',')
print(semistructured_data)
#unstructured data(text)
print('unstructured_data')
unstructured_data="This is a sample text document.It can contain any information in free form"
print(unstructured_data)

structured_data
         id  Gender   Age     Class  Flight Distance  Food and drink  \
0     19556  Female  52.0       Eco            160.0             3.0
1     90035  Female  36.0  Business           2863.0             5.0
2     12360    Male  20.0       Eco            192.0             2.0
3     77959    Male  44.0  Business           3377.0             3.0
4     36875     NaN  49.0       Eco           1182.0             4.0
...     ...     ...   ...       ...              ...             ...
9995  53434  Female  20.0  Business           2288.0             5.0
9996  55197  Female  19.0  Eco Plus           1635.0             1.0
9997  42997  Female  52.0  Business            192.0             3.0
9998  27031    Male  46.0  Eco Plus            867.0             3.0
9999  75613     NaN  67.0       Eco            337.0             1.0

      On-board service  Checkin service  Cleanliness             satisfaction
0                  5.0              2.0          5.0                satisfied
1                  4.0              3.0          5.0                satisfied
2                  4.0              2.0          2.0  neutral or dissatisfied
3                  1.0              3.0          4.0                satisfied
4                  2.0              4.0          4.0                satisfied
...                ...              ...          ...                      ...
9995               3.0              2.0          5.0                satisfied
9996               5.0              5.0          1.0  neutral or dissatisfied
9997               5.0              3.0          3.0  neutral or dissatisfied
9998               4.0              5.0          3.0                satisfied
9999               5.0              3.0          1.0  neutral or dissatisfied

[10000 rows x 10 columns]
semistructured_data
         id  Gender   Age     Class  Flight Distance  Food and drink  \
0     19556  Female  52.0       Eco            160.0             3.0
1     90035  Female  36.0  Business           2863.0             5.0
2     12360    Male  20.0       Eco            192.0             2.0
3     77959    Male  44.0  Business           3377.0             3.0
4     36875     NaN  49.0       Eco           1182.0             4.0
...     ...     ...   ...       ...              ...             ...
9995  53434  Female  20.0  Business           2288.0             5.0
9996  55197  Female  19.0  Eco Plus           1635.0             1.0
9997  42997  Female  52.0  Business            192.0             3.0
9998  27031    Male  46.0  Eco Plus            867.0             3.0
9999  75613     NaN  67.0       Eco            337.0             1.0

      On-board service  Checkin service  Cleanliness             satisfaction
0                  5.0              2.0          5.0                satisfied
1                  4.0              3.0          5.0                satisfied
2                  4.0              2.0          2.0  neutral or dissatisfied
3                  1.0              3.0          4.0                satisfied
4                  2.0              4.0          4.0                satisfied
...                ...              ...          ...                      ...
9995               3.0              2.0          5.0                satisfied
9996               5.0              5.0          1.0  neutral or dissatisfied
9997               5.0              3.0          3.0  neutral or dissatisfied
9998               4.0              5.0          3.0                satisfied
9999               5.0              3.0          1.0  neutral or dissatisfied

[10000 rows x 10 columns]
unstructured_data
This is a sample text document.It can contain any information in free form